{% include header.html %}
<div class="container">
   <img class="img-fluid" src="/static/img/members/WisemanLabBanner2019v2.jpg" title="The Group circa 2019">
   <div class="row">
       <div class="col-sm-9">
           <br>
           {{ content }}
    </div>
    <div class="col-sm-3 smalltxt">
        <br>
        {% capture sidebar %}{% include alumni_sidebar.md %}{% endcapture %}
        {{ sidebar | markdownify }}
    </div>
</div>
<br>
<img class="img-fluid" src="/static/img/members/drawings/2019_FraserLabAlumni_2.png" alt="We miss our alumni!">
</div>
{% include footer.html %}
